.container{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    background-color: #333333 ;
    margin:10px;
    border-radius: 25px;
    width:90%;
}
.image-size{
    height: 190px;
    width:150px;
    border-radius: 10px;
    padding-left: 15px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.discription-container{
    text-align: center;
}
.chat-container{
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
.box{
    padding-left: 15px;
    padding-top: 15px;
    color:#adadc9;

}
.link-con{
    text-decoration: none;
}
.chat{
    font-size: 15px;
    padding-left: 5px;
    color:#adadc9;
    font-weight: bold;

}
.discription{
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    padding-left:5px ;
    font-size: 18px;

}
.by{
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    padding-right:10px ;
    font-size: 15px;
}