.saying-image{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}
.saying-container{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    background-color: #333333 ;
    margin:10px;
    border-radius: 25px;
    width:70%;
    height: auto;
    color: aliceblue;
}
.top-container{
    display:flex;
    flex-direction: row;

}
.name-container{
    display: flex;
    flex-direction: column;
}
.heading{
    font-size: 15px;
    font-style: bold;
    padding-bottom: 20px;
    text-align: center;
    padding-left: 10px;
}
.each-section{
    height:15px;
    width:400px;
    background-color:#131314;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    margin-left: 30px;
}
.about {
    font-size: 15px;
    
    padding-bottom: 20px;
    text-align: center;
   

}