.background{
    background-color: #161516;
    display: flex;
   

}
.welcome {
    color:#c5c6c0;
    font-size: 28px;
    font-weight: bold;
    font-style: roboto;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
}
.name-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.name {
    color:white;
    font-size: 25px;
    font-weight: bold;
    font-style: roboto;
    text-align: left;
    padding-left: 40px;
}

.search-container{
    background-color: #333333;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    border: none;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 40px;


}
.search-icon{
    width: 24px;
    height: 24px;
}
.search-input {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: transparent;
    flex-grow: 1;
    color:#adadc9;
  }
  /* .main-background{
    
  } */
  .main-background{
    width: 85%;
   padding: 30px;

  }