.image-sizes{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    color:aliceblue;
    font-style:roboto;
}
.with{
    font-size: 15px;
    color:aliceblue;
}
.try-container{
    display: flex;
    flex-direction: row;
    height: 55%;
    width:90%;
    background-color: #333333 ;
    margin-bottom: 20px;
    border-radius: 10px;

}